<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FuzzyString" version="1.0.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="Humanizer" version="1.35.0" targetFramework="net45" />
  <package id="inflector_extension" version="0.0.8" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net45" />
  <package id="Polly" version="2.2.1" targetFramework="net45" />
</packages>